.camera-dock {
	padding-bottom: 20px;
}

// div around all 3 cameras/controls
.docked-camera-wrapper {
	margin: auto;
	width: 90%;
	height: 25%;
	margin-top: 8%;
	line-height: 48px;
}

.dashed-border {
	border: 2px dashed #41454a;
}
