// vars
$darkGray: #1F1F21;
$darkGray2: #2C2D2F;
$mediumGray: #41454A;
$transBlack: rgba(0,0,0,0.3);
$textGray: #828283;
$white: #ffffff;
$transWhite: rgba(255, 255, 255, 0.3);
$transWhite2: rgba(255, 255, 255, 0.5);
// TODO: confirm colors
$link: #35b7f3; // #29B6F6; previous color...
$alert: #E85858;

// secondary colors
$secondaryPurple:#483292;
$secondaryNavy: #1565B0;
$secondaryBlue: #4793BC;
$secondaryGreen: #A4B966;
$secondaryYellow: #E4CB29;
$secondaryOrange: #E17200;
$secondaryRed: #B23713;
$secondaryViolet: #88134A;

$iconGray: #6C6C6E;
$infoIconGray: #9C9DA1;
$widgetGray: #343537;
$widgetGray2: #393A3C;
