// vars
$darkGray: #1F1F21;
$darkGray2: #2C2D2F;
$mediumGray: #41454A;
$transBlack: rgba(0,0,0,0.3);
$textGray: #828283;
$white: #ffffff;
$transWhite: rgba(255, 255, 255, 0.3);
$transWhite2: rgba(255, 255, 255, 0.5);
$link: #29B6F6;
$alert: #E85858;

$iconGray: #6C6C6E;
$widgetGray: #343537;
$widgetGray2: #393A3C;

