* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto';
	// color: $white;
}

.appBarWrapperRight button svg {
	color: white !important;
}

.cf:before,
.cf:after {
	content: " ";
	display: table;
}

.cf:after {
	clear: both;
}

body {
	background-color: $darkGray2;
}

.container-t2Select{
	display:flex;
	align-items:flex-start;
	min-height: 45px;
  }

  .container-t2Select >div{
	margin: 10px;
	padding: 0px;
	text-align: center;
  }

