
.cb-font-b1 {
    font-family: 'roboto';
    font-size: 19px; //14pt
    color: white;
}
.cb-font-b2 {
    font-family: 'roboto';
    font-size: 16px; //12pt
    color: white;
}
.cb-font-b3 {
    font-family: 'roboto';
    font-size: 19px; //14pt
    color: #b5b9be;
}
.cb-font-b4 {
    font-family: 'roboto';
    font-size: 19px; //14px
    color: #828283;
}
.cb-font-b5 {
    font-family: 'roboto';
    font-size: 16px; //12pt
    color: #b5b9be;
}
.cb-font-b6 {
    font-family: 'roboto';
    font-size: 16px; //12pt
    color: #828283;
}
.cb-font-b7 {
    font-family: 'roboto';
    font-size: 13px; //12pt
    color: #b5b9be;
}
.cb-font-b8 {
    font-family: 'roboto';
    font-size: 13px; //12pt
    color: #828283;
}
.cb-font-b9 {
    font-family: 'roboto';
    font-size: 13px; //12pt
    color: white;
}
.cb-font-link {
    color:#4eb5f3;
    cursor: pointer;
}

.mapboxgl-ctrl-top-left {
    display: none;
}

h1 {
    font-family: 'roboto';
    font-size: 30px;
    color: white;
}
h2 {
    font-family: 'roboto';
    font-size: 24px;
    color: white;
}
h3 {
    font-family: 'roboto';
    font-size: 20px;
    color: white;
}
h4 {
    font-family: 'roboto';
    font-size: 18px;
    color: white;
}
h5 {
    font-family: 'roboto';
    font-size: 18px; //18pt
    color: white;
}
h6 {
    font-family: 'roboto';
    font-size: 16px; //16pt
    color: white;
}
.b1-white {
    font-family: 'roboto';
    font-size: 14px;
    color: white;
}
.b1-bright-gray {
    font-family: 'roboto';
    font-size: 14px;
    color: #b5b9be;
}
.b1-dark-gray {
    font-family: 'roboto';
    font-size: 14px;
    color: #828283;
}
.b1-blue {
    font-family: 'roboto';
     font-size: 14px;
    color: #4eb5f3;
}
.b2-white {
    font-family: 'roboto';
     font-size: 12px;
    color: white;
}
.b2-bright-gray {
    font-family: 'roboto';
     font-size: 12px;
    color: #b5b9be;
}
.b2-dark-gray {
    font-family: 'roboto';
     font-size: 12px;
    color: #828283;
}
.b2-blue {
    font-family: 'roboto';
    font-size: 12px;
    color: #4eb5f3;
}