html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto';
	background-color: $darkGray2;
}

a {
	color: $link;
}

button, a {
	cursor: pointer;
}

:focus {
	outline: 0;
}

//// Sidebar tweak

#sidebar-inner-wrapper h4 {
	margin: 0 0 .25rem 0;
}

.daily-brief-controls > h4 {
	margin: 0 0 0 .5rem !important;
}

////

.loading-indicator {
	margin: 0 auto;
	left: calc(50% - 40px);
	top: calc(50vh - 40px);
}

.scrollbar:-webkit-scrollbar-track {
	-webkit-box-shadow: none;
	background-color: $darkGray;
}

.scrollbar::-webkit-scrollbar {
	width: 6px;
	background-color: $darkGray;
}

.scrollbar::-webkit-scrollbar-thumb {
	background-color: #41454A;
	border-radius: 10px;
}

::-webkit-scrollbar {
	display: none;
}

.date-pickers-wrapper hr {
	display: none;
}

.date-pickers-wrapper {
	div {
		.MuiTextField-root {
			margin: 16px 6px!important;
			vertical-align: unset;
			div {
				input {
					padding: 0;
					height: 34px;
				}
			}
		}	
	}
}

.MuiPickersDatePickerRoot-toolbar {
	background-color: rgb(0, 188, 212)!important;
}

.MuiPickersDay-daySelected, .MuiPickersDay-current {
	background-color: unset!important;
	color: unset!important;
}

.MuiPickersCalendarHeader-iconButton {
	background-color: unset!important;
	color: #fff!important;
}

.Mui-disabled {
	color: rgba(0, 0, 0, 0.26)!important;
}

.MuiPickersCalendarHeader-transitionContainer, .MuiPickersCalendarHeader-dayLabel, .MuiPickersDay-day {
	color: #fff!important;
}

.themedButton {
	color: rgb(0, 188, 212);
    font-size: 1em;
    font-weight: 500;
    letter-spacing: 0;
    min-width: 88px;
    padding: 0 16px;
	height: 36px;
	&:hover {
		background-color: rgba(255, 255, 255, 0.1);
	}
}

.rulesCheckBox {
	svg {
		fill: rgb(65, 69, 74);
	}
	.Mui-checked {
		svg {
			fill: rgb(0, 188, 212);
		}
	}
}

.rulesRadio {
	svg {
		fill: rgb(65, 69, 74);
	}
	.Mui-checked {
		svg {
			fill: rgb(0, 188, 212)
		}
	}
	.MuiFormControlLabel-label {
		font-size: 16px;
		color: rgb(130, 130, 131);
	}
	.Mui-checked ~ .MuiFormControlLabel-label {
		color: #fff;
	}
}

.dismissRadio {
	svg {
		fill: #fff;
	}
	.Mui-checked {
		svg {
			fill: rgb(0, 188, 212)
		}
	}
}

.disableOutlined {
	fieldset {
		border: none;
	}
}

.condition-dialog-wrapper{
	padding: 0px 24px 24px;
	overflow-y: auto;
}

.selectPlaceholder {
	opacity: 0.4;
	font-weight: 300;
}

.listItemButton-overrides {
	text-align: unset;
	height: 48px;
	&:hover {
		background-color: rgba(255, 255, 255, 0.1);
	}
}