<% if (lists.length > 0) { %>
	<% lists.forEach((list,index) => { %>
		<div class="table-container">
			<h4>
				List:
				<%= list.title %>
			</h4>
			<div class="table-data-container">
				<table>
					<thead>
						<tr>
							<% list.columns.map(column => { %>
								<% if (column.name) { %>
									<th>
										<%= column.name %>
									</th>
									<% } else {%>
										<th class="svg-cell">
										</th>
										<% } %>
											<% }) %>
						</tr>
					</thead>
					<tbody>
						<% list.rows.forEach((row, index) => { %>
							<%- include('listRows', {row: row, component: list, index: index, timezone: timezone, timeFormatPreference: timeFormatPreference}); %>
								<% }) %>
					</tbody>
				</table>
			</div>

		</div>
		<% }) %>
			<% } %>